{% extends 'index.html' %}
{% block content %} 
{% load static %}
<div class="wpo-breadcumb-area" style="background-image: url('{% static 'assets/images/slider_images/photo_2023-09-12_11-10-20.jpg' %}'); background-color: rgba(0, 0, 0, 0.5);">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="wpo-breadcumb-wrap">
                    <h2 style="color: white">Actualité</h2>
                    <ul>
                        <li><a href="{% url 'home' %}" style="color: #098542">Acceuil</a></li>
                        <li style="color: #098542"><span style="color: #098542">Actualité</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="wpo-event-details-area section-padding">
    <h3 style="text-align: center; color: black;">CELEBRATION DU 144e ANNIVERSAIRE DE L'APPEL DE MAME LIMAMOU (PSL) EN COTE D'IVOIRE -AVANT-PREMIERE</h3>   
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="wpo-about-img-3 embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" style="border: 1px solid #098542; border-radius: 5px; box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2)"src="https://www.youtube.com/embed/KaQLYvR6-tQ?si=9UDeOOJeWu3LL9MQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
    <br><br>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="timer-section"  style="background-image: url('{% static 'assets/images/slider_images/photo_01.jpg' %}'); background-color: rgba(0, 0, 0, 0.5);">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="timer-text">
                                <h2 style="color: black;">Programme</h2>
                                <span style="color: black;font-size: 29px;">Théme:<br>Seydina Limamou Lahi Al Mahdi(PSL): Statut et Mission</span>
                                <br><br>
                                <span style="color: black;font-size: 29px;">Samedi 02 Mars 2024</span>
                            </div>
                        </div>
                        <div class="col-md-7 col-md-offset-1">
                            <div class="timer-num">
                                <ul>
                                    <li style="color: black;">Diner<span>19h00</span></li>
                                    <li style="color: black;">Accueil et Mise en Place<span>20h00</span></li>
                                    <li style="color: black;">Allocatins de bienvenue<span>20h00-20h30</span></li>
                                    <li style="color: black;">Priére pour la Paix au Sénégal et Cote d'Ivoire<span>20h30-21h00</span></li>
                                    <li style="color: black;">Conférence et Chants Religiex<span>21h-01h</span></li>
                                    <li style="color: black;">Bénédiction de Cloture<span>01h00</span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="timer-shape1">
                        <img src="assets/images/prayer-shape/2.png" alt="">
                    </div>
                    <div class="timer-shape2">
                        <img src="assets/images/prayer-shape/1.png" alt="">
                    </div>
                    <div class="timer-shape3">
                        <img src="assets/images/prayer-shape/3.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br><br>
    <div class="container">
        <h3 style="text-align: center; color: black;">Seydina Limamou Lahi (psl) : statut et mission</h3>   
        <div class="row">
            <div class="col-lg-2 col-md-2"></div>
            <div class="col-lg-8 col-md-8">
                <div class="wpo-about-text">
                    <p style="text-align: justify; color: black;font-size: 16px;">
                        Le bon sens et la logique voudraient que la détention d’un statut puisse être prouvée. Le
                        problème de l’homme c’est l’amnésie mais surtout la manipulation. En effet, il y a des
                        hommes qui refusent une prophétie car ils sont amnésiques d’autres parce qu’ils sont
                        manipulés ou qu’ils veulent manipuler.<br>
                        L’amnésie se manifeste par une attitude mécréante qui se répète à chaque fois qu’un prophète
                        lance son appel.<br>
                        La prophétie est l’expression principale du divin, le mandant étant intimement lié au
                        mandataire. C’est la raison pour laquelle la principale preuve d’une prophétie est le miracle.
                        Certains oulémas arguent qu’on ne peut se passer des textes car un musulman n’a comme
                        référence que le Coran et la Sounna. Cela est certes vrai mais la déduction qu’on en tire révèle
                        un défaut de culture dans le domaine de la prophétie et une amnésie intellectuelle notoire. En
                        effet, suivre le Coran consiste à déduire de ce livre les critères distinctifs d’un prophète...
                        <br><br><span>Par Ibrahima Abou SAMB</span>
                    </p>
                    <div class="row">
                        <div class="col-md-6" style="padding: 5px;">
                            <button type="button" class="btn btn-primary theme-btn" data-toggle="modal" data-target="#textModal">
                                Lire le document
                            </button>
                        </div>
                        <div class="col-md-6" style="padding: 5px;">
                            <a href="{% static "assets/images/fichiers/article cote d'ivoire.pdf" %}" class="theme-btn video-btn" download="Discours_Appel_2023_Abidjan.pdf">
                                Télécharger le document
                            </a>
                        </div>
                    </div>


                    <div class="modal fade" id="textModal" tabindex="-1" role="dialog" aria-labelledby="textModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="textModalLabel">Texte Complet</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <p style="text-align: justify; color: black;">
                                        Le bon sens et la logique voudraient que la détention d’un statut puisse être prouvée. Le
                                        problème de l’homme c’est l’amnésie mais surtout la manipulation. En effet, il y a des
                                        hommes qui refusent une prophétie car ils sont amnésiques d’autres parce qu’ils sont
                                        manipulés ou qu’ils veulent manipuler.<br>
                                        L’amnésie se manifeste par une attitude mécréante qui se répète à chaque fois qu’un prophète
                                        lance son appel.<br><br>
                                        La prophétie est l’expression principale du divin, le mandant étant intimement lié au
                                        mandataire. C’est la raison pour laquelle la principale preuve d’une prophétie est le miracle.
                                        Certains oulémas arguent qu’on ne peut se passer des textes car un musulman n’a comme
                                        référence que le Coran et la Sounna. Cela est certes vrai mais la déduction qu’on en tire révèle
                                        un défaut de culture dans le domaine de la prophétie et une amnésie intellectuelle notoire. En
                                        effet, suivre le Coran consiste à déduire de ce livre les critères distinctifs d’un prophète. Pour
                                        le Coran ou les hadiths, ce sont les oulémas qui en font les interprétations. L’œuvre humaine
                                        étant par essence imparfaite, il existe toujours une marge d’erreur. D’autant plus qu’il est de
                                        notoriété publique que beaucoup de hadiths ne sont pas authentiques et que le plus grand
                                        problème des muhadiths est de délier le vrai de l’ivraie dans la science des hadiths. Se
                                        conformer au Coran et à la Sunna revient à constater qu’aucun des quatre hulafa u rachidune
                                        n’a eu besoin de consulter l’Evangile ou un livre des savants juifs pour vérifier la véracité de
                                        la mission du prophète Muhamed (psl). La vérité est que certains furent séduits par les
                                        valeurs morales de l’homme d’autres par la consistance de son enseignement. Il faut croire
                                        que la croyance siège dans le cœur et non dans l’esprit. Pendant ce temps, la majorité des
                                        savants juifs se focalisaient sur les critères que leurs savants avaient fixés en se basant sur la
                                        Bible pour rejeter le prophète Muhamed. Ainsi, ils ne voyaient pas le paraclet dans la
                                        personne du prophète Muhamed (psl) pour qui ils relevaient plusieurs incohérences. Ce qui a
                                        posé problème en premier lieu fut son appartenance raciale qui était jugée par eux comme une
                                        marginalité, une rupture, une nouveauté. Cela était d’autant plus inconcevable que les
                                        prophètes antérieurs leur avaient fait savoir qu’ils étaient les élus de Dieu. Même le Coran
                                        aborde dans le même sens « ya banii israila uzkuru ni’matiyal latii an ‘amta ilaykum wa inni
                                        fadaltukum ‘alal ‘alamina » 1 . Ils se sont alors posé la question de savoir depuis quand Dieu
                                        les aurait-il destitués ? Cela explique qu’ils ne l’aient pas pris au sérieux, pour la plupart.<br>
                                        1 Sourate2 verset48
                                        <br><br>
                                        Nous devrions nous demander pourquoi l’écrasante majorité des premiers compagnons étaient
                                        des illettrés ou au plus des gens qui avaient un niveau d’érudition modeste, si vraiment la
                                        prophétie est une question d’érudition ? La réponse est simple : la foi n’est pas une question
                                        de raison mais de cœur, quwatul mumine fii qalbihi _(la force du croyant réside dans son
                                        cœur) et Cheikh Ahmadou Bamba de renchérir « fal ‘ilmu laa bi kasrati riwaya bal innahu
                                        nurunu maa’a diraaya_(la connaissance n’est pas un exercice de collecte de références
                                        textuelles mais plutôt une lumière dans le cœur du pieux ). Il est regrettable que des savants
                                        musulmans se retrouvent dans ce même délire intellectuel dans lequel s’enlisaient les savants
                                        juifs à l’avènement du prophète Muhamed. Ont-ils été frappés d’une amnésie intellectuelle ?
                                        Il appert alors que la démarche idoine, si l’on cherche la vérité, est de faire une pause, de
                                        fermer les livres et d’écouter Seydina Limamou Lahi (psl). Ainsi disait-il « ‘ulama u yi
                                        oublen terei yi diamana dik na_ O savants, fermez les livres, le Maitre est arrivé ». Si on
                                        l’écoute on pourra analyser ses dires d’une manière objective sans commettre l’erreur de se
                                        tromper sur la « balance ». Le Coran ne nous a-t-il pas mis en garde « wa sama a rafa’aha wa
                                        wada’al mizaane an laa tatghaw fil mizaan_( Le Ciel c’est nous qui l’avons élevé (en un haut
                                        rang) et avons établi la balance, ne vous trompez pas sur la balance ) 2 .<br>
                                        C’est dans ce sens qu’il faudra comprendre la déclaration de Seydina Limamou :
                                        « alhamdoulilahi lazii lam yazal 3
                                        Ajiibou daa ‘iyallahi yaa ma’charal insi wal jinn innii rassululahi ilaykum
                                        Mouhamad minal baydi qad aswada 4
                                        Muhammadu naamaa wastayhaza muhammadu 5
                                        Kalay len jaa a al amrul a’zam, kalay len kaay leen nieuw len, dik len jaa a al amrul a’zam 6
                                        Il est clair que Seydina Limamou s’est déclaré prophète. Alors intéressons-nous aux critères
                                        auxquels on reconnait un prophète d’après la tradition et la sounna. Un seul obstacle sérieux
                                        se dresse sur notre chemin à savoir le terme khatam an nabiyyina que certains oulémas
                                        traduisent par « dernier des prophètes ». En analysant bien le Coran et la Sunna, on se rend
                                        bien compte que cette considération est très critiquable. Certains attribuent au Prophète la
                                        déclaration selon laquelle il n’y aura pas de prophète après « laa nabi ba’di ». 
                                        <br>Considérant
                                        2 Sourate Ar-Rahman<br>
                                        3 Gloire à Dieu, l’Eternel<br>
                                        4 Muhamad, jadis suscité parmi les Blancs est devenu Noir<br>
                                        5 Muhamad qui s’était endormi s’est réveillé<br>
                                        6 Venez à moi, le plus grand avènement est arrivé<br>
                                        <br><br>
                                        qu’il ne peut y avoir de contradiction entre le Coran et la Sunna, il est légitime de se poser
                                        des questions. D’une part, il est inscrit dans le Coran que Jésus (psl) reviendra après le
                                        prophète Muhamed (psl) ; ce qui remet en cause cette théorie. D’autre part, qui est plus apte à
                                        interpréter les dires du Prophète (psl) que notre mère Aicha qui, consciente de la mauvaise
                                        interprétation que l’on fait de cette déclaration, affirma « quluu huwa khataman nabiyina
                                        walaa taquulu laa nabiya ba’dahu_ (dites qu’il est le sceau des prophètes mais ne dites pas
                                        qu’il n’y a pas de prophète après lui) 7 . Effectivement, elle était consciente que Jésus
                                        reviendra, qu’il sera prophète, et que cette interprétation était anti islamique. Il n’y a aucun
                                        passage du Coran qui dit que le Prophète est le dernier «  akhiri nabiyina ». Même si tel était
                                        le cas cela ne constituerait pas un obstacle pour Seydina Limamou Lahi (psl) car il ne s’est
                                        pas déclaré un nouveau prophète mais le prophète Muhamed survivant de lui-même.
                                        La balance apte à peser un prophète repose sur trois piliers substantiels 8  : ses valeurs
                                        morales, les valeurs prônées par son enseignement et le miracle. Ce dernier critère trouve
                                        son importance dans le fait qu’une autorité inférieure ne peut certifier une autre supérieure.
                                        Cela est un principe élémentaire en droit appelé parallélisme des compétences. Seul Allah a le
                                        pouvoir et la compétence de certifier quelqu’un qui se dit prophète et il ne le fait qu’à travers
                                        les miracles. Le miracle est la signature ou le sceau des prophètes que leur envoie le Seigneur
                                        pour certifier leurs dires et permettre aux mortels de croire que le message proclamé est de
                                        Lui. C’est ce qui rend impertinent de se demander pourquoi untel n’a pas cru en lui si
                                        réellement il était prophète.<br>
                                        S’agissant de la moralité de quelqu’un qui se dit prophète, elle s’apprécie d’une manière
                                        rétroactive. Le premier réflexe de son peuple devra être d’inspecter sa vie depuis son enfance
                                        jusqu’à son âge adulte, en passant son adolescence. Cela leur permettra d’avoir une
                                        appréciation objective sur sa moralité. C’est l’une des raisons pour lesquelles on n’envoie de
                                        prophète que « des hommes autochtones » 9 , c’est-à-dire qu’on n’envoie pas un prophète à un
                                        peuple auquel il est étranger. Si le choix d’un autochtone est une condition de la prophétie,
                                        c’est parce qu’Allah veut permettre aux gens de pouvoir vérifier la moralité de leur prophète.
                                        Si le prétendant est véridique, on ne pourra l’accuser de menteur à cet instant ; s’il est
                                        honnête, on ne pourra l’accuser d’imposteur non plus ; s’il est humble on ne pourra l’accuser
                                        de chercher la gloire ou la royauté. Le fait de ne pas pouvoir les accuser de menteur vu leur
                                        <br>
                                        7 Dur’ul Mansour<br>
                                        8 Cf Al Mawardy, A’lamun-nubuwah<br>
                                        9 Coran, Yusuf, 109<br>
                                        <br>
                                        passé irréprochable est la raison pour laquelle on les qualifie souvent de fou avec comme
                                        justification qu’ils auraient perdu la raison.
                                        <br>
                                        Le developpement, l’une des missions phares du Mahdi (psl)
                                        La conception qu’a le Mahdi sur le développement n’est pas une conception personnelle. En
                                        tant que messager, il a adopté la conception de l’islam qui consiste à ramener cette notion au
                                        concept de salut ou de bonheur. En effet, le développement n’est pas une fin en soi. Il n’aura
                                        de raison d’être que s’il permet l’épanouissement de l’homme. Pour un musulman ou un
                                        croyant d’une manière générale, il ne suffira pas d’être en quête du bonheur sur terre mais
                                        plutôt d’un bonheur ici-bas et dans l’au-delà. Cela nous ramène à la fameuse prière du
                                        Prophète (psl) « rabana atina fid dunya hassanatan wa fil ahirati hassanatan (Seigneur
                                        accorde nous le salut ici-bas et dans l’eau delà). C’est-à-dire que l’islam cherche un équilibre
                                        entre l’épanouissement ici-bas et le salut dans l’autre monde. Cette quête dernière
                                        conditionnera la manière d’acquérir les richesses et qui, ipso facto, rend la formule « tous les
                                        moyens sont bons pour réussir » inopérante.<br>
                                        Le capitalisme a fini de montrer ses limites d’où l’apparition de propositions alternatives
                                        telles que la théorie participaliste. Cela résulte de l’échec successif de toutes les tentatives de
                                        réformes, d’ajustements ou de rééquilibrage du système. Les tenants de cette théorie
                                        participative ou participaliste en sont arrivés à vouloir tenir le taureau par les cornes. Le
                                        problème n’est donc pas conjoncturel mais systémique. Il ne s’agit pas d’une question
                                        d’ajustement ou d’accommodation selon l’environnement économico-sociétal. Le vrai
                                        problème est la base même du système : l’usure, la spéculation.
                                        Nous remarquerons ainsi que le Mahdi mène son combat sur trois fronts : le front personnel,
                                        le front sociétal, le front économique.<br>
                                        « Oui, Allah ordonne l&#39;équité et la bienfaisance, et que l&#39;on donne aux proches parents. IL
                                        interdit la turpitude, l&#39;acte répréhensible et l&#39;oppression. IL vous exhorte afin que vous
                                        réfléchissiez ». 10
                                        <br>
                                        <br>
                                        Ibrahima Abou SAMB, auteur, juriste, formateur en communication.<br>
                                        
                                        10 Sourate al-Nihal, 16: 90.</p></div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-2"></div>
        </div>
    </div>
</div>


{% endblock %}