{% extends 'index.html' %}
{% block content %} 
{% load static %}
<div class="wpo-breadcumb-area" style="background-image: url('{% static 'assets/images/slider_images/photo_2023-09-12_11-10-20.jpg' %}'); background-color: rgba(0, 0, 0, 0.5);">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="wpo-breadcumb-wrap">
                    <h2 style="color: white">Blog</h2>
                    <ul>
                        <li><a href="{% url 'home' %}" style="color: #098542">Acceuil</a></li>
                        <li style="color: #098542"><span style="color: #098542">Blog</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="wpo-event-details-area section-padding">
    <div class="container">
        <div class="row">
            <div class="col col-md-9">
                 <div class="wpo-event-item">
                    <div class="wpo-event-img">
                        <img src="{% static 'assets/images/slider_images/photo_2023-09-12_11-09-02.jpg' %}" alt="">
                        <div class="thumb-text-2">
                            {% comment %} <span>25</span>
                            <span>NOV</span> {% endcomment %}
                        </div>
                    </div>
                    <div class="wpo-event-details-text">
                        <h2>« Pourquoi je suis devenu Layène »</h2>
                         <p style="text-align: justify;">Au nom d’Allah, le Tout Miséricordieux et le Très Miséricordieux. Je cherche la protection
                            d’Allah contre le diable, contre mon égo. J’invoque Allah que Sa prière et Sa paix soient sur
                            Muhammad, le seigneur des premières générations et des dernières, le seigneur des Arabes et
                            de toutes les autres nations.<br><br>
                            Je traite du sujet de mon engagement pour la cause de la communauté Layène, une
                            communauté musulmane originaire de Yoff sur la presqu’île du Cap-Vert à Dakar, au
                            Sénégal. Le fondateur de cette communauté, Seydina Limamou Lahi (psl) en 1884 fit la
                            proclamation d’être l’Imam al Mahdi (l’Imam bien-guidé) attendu de tous (al muntazar). Père
                            de Seydina Issa Rouhou Lahi, il proclama que son fils était son vicaire dans le retour de Issa
                            fils de Marie.<br><br>
                            J’expliquerai pourquoi j’ai été amené à faire des recherches pour apporter des réponses à des
                            questions d’ordre eschatologiques suites à une causerie avec une évangélique. Avant mon
                            engagement en 2008 pour la cause Layène, je donnerai un récit de mon cheminement à travers
                            des recherches dans différents mouvements religieux messianiques ou confrériques soufies. Je
                            parlerai de ma rencontre d’avec l’association « Dahira les Sahabas de Seydina Limamou Lahi
                            de Côte d’Ivoire » en 2011. Ensuite, je parlerai de mon voyage à Dakar en 2013 à l’occasion
                            du 133 e Appel de Seydina Lima mou Lahi. Aussi ferai-je mention de mon prosélytismes sur la
                            toile à travers plusieurs réseaux sociaux.<br>
                            En 2001, une femme évangélique, épouse d’un pasteur, eût une causerie avec moi
                            certainement dans l’objectif de m’évangéliser. Je voudrais dire que je ne suis pas contre
                            l’évangélisation et je suis d’un esprit ouvert en matière de religion. Je pense que c’est ce que
                            j’ai expliqué à cette femme quand elle m’a vu m’intéresser à une Bible sur son bureau. Je lui
                            ai dit que j’ai toujours accordé un profond respect aux livres révélés car j’ai toujours été le
                            premier non Chrétien au collège de prendre les petites Bibles bleues qu’on distribuait dans les
                            classes. Je lui ai expliqué que j’agissais conformément aux fondements de la foi islamique qui
                            traitent tous les livres révélés et les prophètes avec équité. Mais, la dame évangélique a
                            abordé la question de l’eschatologique à savoir la parousie de Issa (Jésus) qui, hormis les
                            différences théologiques entre Chrétiens et Musulmans, semble être un point commun bien
                            que chaque partie garde des objectifs propres. Pour le Christianisme, la parousie du prophète
                            Issa est le lieu de l’avènement du Jugement dernier pour qu’en toute gloire divine il juge les
                            hommes. Or, c’est le contraire en Islam où le retour de Issa est le lieu de prouver son
                            humanité mortelle quand les Musulmans le conduiront dans sa dernière demeure avant le
                            jugement dernier. Jusqu’à ce niveau des échanges j’étais demeuré inflexible mais la dame
                            évangélique abordait le point qui allait susciter en moi les questions de ce qui me semble
                            relever du mahdisme. Elle affirmait que les Chrétiens et les Musulmans sont unanimes sur le
                            fait que Muhammad, le Prophète d’Allah psl, repose dans sa dernière demeure à Médine mais
                            que le prophète Issa est vivant, enlevé au ciel. Pour la majorité des Musulmans, l’ascension du
                            prophète Issa est une évidence raison pour laquelle, il devrait revenir sur terre. Pour les
                            Chrétiens avisés, c’est la preuve de la divinité de Issa selon les croyances mêmes des
                            Musulmans qui croient qu’il soit vivant au ciel. Aussi, que c’est le prophète Issa est celui que
                            Chrétiens et Musulmans attendent à la fin des temps et non le prophète Muhammad. Je
                            n’avais jamais été autant ébranlé dans ma foi par de tels raisonnements mûris par cette femme
                            évangélique.<br><br>
                            
                            Mais, une vision nocturne vint me réconforter dans ma foi. Je voyais une assemblée de fidèles
                            religieux formant un cercle, assis à même le sol. Ma curiosité me poussa à m’approcher
                            davantage. Je fis le Salam. Le vieil homme me tendit un livre où était inscrit en arabe
                            « Muhammad » en couleur rouge bordeaux. Le même nom était répété sur la deuxième page
                            de garde. Ensuite, je pus lire la « basmalah » en arabe à la suite des pages et la sourate Al
                            Fatiha. Cependant, j’interrogeais le vieil homme quand je remarquais un ou deux versets après
                            la Fatiha. Il m’a répondu « aujourd’hui est comme avant ».<br>
                            Mon impression au premier abord, j’ai été renforcé dans ma foi islamique mais je ne
                            comprenais pas toute la symbolique dans cette vision. Un jeune arabisant depuis un certain
                            moment distribuait des brochures d’une mission islamique pakistanaise basée à Adjamé 220
                            logements. Je me mis à les lire et découvris qu’il y était question de Mahdi et Messie Promis.
                            J’ai voulu en savoir d’avantage en m’y rendant au siège de cette mission pakistanaise à
                            Adjamé 220 logements. C’était en 2003 dans le mois d’avril. J’ai commencé à fréquenter
                            cette mission mais je savais que les personnes que j’avais vues en rêve étaient des Africains.
                            Je décidais de me tourner vers la communauté Mouride. Je me suis rendu à son centre à
                            Yopougon non loin du terminus 40. C’était en 2003. Je participais au Magal à Treichville
                            cette année. On me confiait à un Ivoirien converti à l’Islam, Ismaïl, qui avait suivi une
                            formation religieuse du Mouridisme à Touba au Sénégal. Abdramane (Samb) était le
                            responsable de ce centre. Un jour, il m’a dit qu’il rentrait au bercail et m’invitait de venir le
                            voir au Sénégal un de ces jours. Je partis de ce centre parce que je ne trouvais pas de
                            documentations en langue française comme j’en disposais au centre pakistanais.
                            J’ai donc décidé de retourner à la mission pakistanaise où j’occuperais le poste de vice-
                            président des jeunes. Je me procurais les publications et les ouvrages de la maison d’édition
                            de la communauté et de l’imprimerie de la mission d’Adjamé. Alors, je pus comprendre les
                            fondements de cette communauté dont le fondateur, Mirza Ghulam Ahmad (1835-1908)
                            d’origine Indo-persane, en 1889 se proclama le Mahdi tout en revendiquant que le Mahdi était
                            d’origine persane. De ce fait, il réaliserait le second avènement de Muhammad le prophète de
                            l’Islam. Ces déclarations ne m’ont pas laissé indifférent parce qu’elles étaient une réponse à la
                            causerie que j’avais eue avec la femme évangélique.<br>
                            Donc que Muhammad pouvait avoir un retour comme Issa, était pour moi, une assurance pour
                            la sauvegarde de ma foi islamique. Cependant, il était simplement question d’une
                            représentation spirituelle de Muhammad qui léguait son héritage prophétique à une autre
                            personne comme une sorte de double ou Khalife ou fils spirituel. C’est pourquoi, cette
                            personne pouvait porter ses attributs sans que Muhammad soit privé des siens propres. Par
                            exemple, Muhammad était le sceau des prophètes et cette personne le sceau des khalifes. Son
                            rang par rapport aux autres prophètes était à l’instar du rang de Muhammad sur tous les
                            prophètes ou khalifes. C’est certainement des discours d’un inspiré qui ont divisé sa
                            communauté en deux fractions opposées. Ils sont pris au sens propre par la Jamaat
                            Ahmadiyya à Londres en Angleterre et au sens figuré par celle de Lahore Ahmadiyya au
                            Pakistan. Pour la Jamaat de Londres, les appellations de prophète ou messager de Dieu de ce
                            fondateur le désignent comme tel tout en le rendant dépendant de la charia de Muhammad
                            mais à des fins eschatologiques pour l’avènement d’un prophète synthétisant à la fois les
                            attributs de l’Imam Mahdi et de Messie Promis (Issa fils de Marie).
                            <br><br>
                            Pour résoudre l’équation du retour du prophète Issa selon le Nouveau Testament et le Coran.
                            En 1891, elle fut revendiquée par le même fondateur comme une représentation spirituelle et
                            non une « descente physique du ciel ». Même la naissance de Issa était spirituelle parce que ce
                            fondateur lui-même durant un laps de temps équivalent à une grossesse humaine, était dans
                            les attributs de Marie la mère de Issa. C’est-à-dire ce fondateur est lui-même la mère qui
                            donna naissance à Issa. L’annonce faite dans le Coran (61 :6)) pour un messager appelé
                            Ahmad désignerait ce fondateur. Pour le commun des Musulmans, Ahmad est le nom que le
                            prophète Issa fils de Marie a donné à Muhammad comme le messager qui viendrait après lui.
                            Ce fondateur a désapprouvé l’apostolat de quarante ans du prophète Issa à son retour selon les
                            hadiths. Il défend l’idée que cela surpasserait les vingt-trois ans de l’apostolat du messager
                            d’Allah.<br>
                            La mort du prophète Issa est alors revendiquée comme une révélation divine par ce fondateur.
                            Il va donc s’efforcer d’indiquer la tombe du prophète Issa après sa survie d’un
                            évanouissement à la croix. Il y a eu trois phases d’indication de cette tombe ; d’abord en
                            Galilée, puis en Syrie enfin au Cachemire, à Srinagar dans le mausolée de Roza Bal. Ces
                            déclarations ne me laissaient pas indifférent puisque d’abord, j’allais pouvoir répondre à
                            l’évangélique que Issa était bien un mortel mais aussi qu’un Musulman a réalisé son retour
                            spirituel et non du ciel. Cependant, ce fondateur dans les années 1900, se proclama le retour
                            synthétique de Krishna, Maitriya de Bouddhisme, le Shaoshyan du Zoroastrisme, Adam et
                            Noé.<br>
                            Je me trouvais face à plus d’un retour spirituel par le même Mahdi qui portait les attributs de
                            tous ces prophètes. J’ai décidé de m’intéresser à d’autres courants messianiques ou aux
                            émergences des Mahdis en Islam. J’ai lu un ouvrage américain sur les sociétés secrètes qui
                            présentait les Adventistes et les Témoins de Jéhovah apparus au dix-neuvième siècle. Les
                            Adventistes annonçaient le retour du prophète Issa en 1844 et les Témoins de Jéhovah le
                            situant entre 1874 pour le tabernacle invisible et 1914 pour l’apparition à proprement parler.
                            Entretemps, il se passerait une moisson de quarante ans. Les Témoins de Jéhovah
                            s’adonnaient à la moisson du blé durant ce temps. Mais, il arriva la première guerre mondiale
                            et une nouvelle annonce a été faite cette fois-ci pour 1917. Malgré tout, il n’y a pas eu parmi
                            les Témoins de Jéhovah de proclamation réalisant le retour du fils de Marie.
                            J’ai eu la chance de trouver en ligne le discours du Professeur James Darmesteter à la
                            conférence présentée devant le Collège de Paris en 1885 en rapport à l’émergence du Mahdi
                            du Soudan en 1883, intitulé Le Mahdi : depuis l’origine de l’Islam jusqu’à nos jours. Le
                            Professeur Darmesteter expliqua que le Mahdi employé comme épithète désigne toute
                            personne qui aspire à la guidé mais comme nom propre désigne le messager de Dieu lui-
                            même en tant que le bien-guidé de tous. L’Imam Mahdi est cet personnage eschatologique de
                            l’Islam à qui incombe la mission finale de la fin des temps derrière lequel le prophète Issa est
                            un simple fidèle prenant la place dans une ultime prière avant la fin du drame du monde. Il
                            affirmait qu’en théorie, il n’y a pas de Mahdi sans Jésus. Parce que dans l’émergence des
                            Mahdis qu’il a répertorié, c’est toujours le même Mahdi qui semblait se confondre à Jésus
                            (Issa).<br>
                            Je ne vais pas faire l’historique de tous ces émergences mahdistes par le Professeur
                            Darmesteter mais il existe deux cas de proclamation synthétique qui m’intéressent par
                            <br><br>
                            analogie bien avant Mirza G. Ahmad. Ils sont toujours d’origine persane revendiquant une
                            ascendance avec la famille du Prophète à travers les Fatimides comme cela est remarquable
                            par le patronyme Sayid, pour l’ascendance masculine ou Mirza pour l’ascendance féminine.
                            Sayid Ahmad Barelwi (1786-1831), un soufi Naqshbandi, en Inde leva une lutte armée contre
                            les colons anglais et ses coreligionnaires Sikhs. Il déclarait être descendu du quatrième ciel
                            dans la manifestation de quatre corps notamment Adam, Jésus, Ahmad et le Mahdi. Il fut tué
                            dans une guerre contre les Sikhs en 1831. Le 23 mai 1844 il y a eu Mirza Ali-Mohammad
                            (1819-1850) fondateur du Babisme, qui se proclamait être le Mahdi. Il sera suivi par Mirza
                            Hussayn Ali Nuri (1817-1892), fondateur de Bahaïe se proclamant le Baha-u-llah le 21 avril
                            1863 à Bagdad. Il revendiquait être le retour de cinq personnes notamment Moïse, Chah
                            Bahram, Bouddha, Jésus et le Prophète Muhammad.<br>
                            J’ai alors remarqué que les retours synthétiques ont été faits uniquement par des Persans ou
                            Indo-persans. Finalement, j’ai aussi compris que la tombe du cachemire en Inde, avait déjà
                            été présentée par les historiens musulmans persans tels que Ibn Babuweh Qommi surnommé
                            Shaykh Al Said Sadiq, (mort en l’an 992 à Khorasan), Mullah Nadri et Ibn Mohammad Hadi
                            Mohammad Ismail.<br>
                            Au moment où la mission pakistanaise préparait la célébration d’un siècle de la disparition de
                            son fondateur en 2008, , je devais me préparer à une expérience qui me fera basculer de
                            l’Orient en Ouest. Dans le pays des Wolofs où je rencontrerai deux personnes qui restaient
                            dans la ligne droite de ce que je pourrais appeler la réalisation des prophéties concernant le
                            Mahdi et Issa fils de Marie. J’y ai cru et même fait le voyage pour la célébration du 133 e
                            anniversaire de l’appel du Mahdi au Sénégal en 2013. C’est en ligne sur internet que j’ai
                            trouvé le site web de la communauté Layène aussi appelée Ahlou Lahi « les partisans de
                            Dieu ».<br>
                            Le fondateur, Seydina Limamou Lahi (1845-1909) précisément selon le calendrier islamique
                            naquit en 1261 et disparut après vingt-six ans de ministère en 1327 à l’âge de 66 ans. Il était
                            pêcheur de profession et demeura illettrée contrairement aux grands marabouts de sa
                            génération du Sénégal. Il appartenait à l’ethnie Lébou originaire de la presqu’île du Cap-Vert
                            de Yoff à Dakar. En 1301 du calendrier islamique précisément le 24 mai 1884, juste après le
                            Mahdi soudanais et cinq ans avant Mirza G. Ahmad, Seydina Limamou Lahi âgé de 40 ans
                            sortit de son mutisme après le décès de sa mère Coumba Ndoye, pour se proclamer le Mahdi.
                            Il disait qu’il était le Mahdi en tant que réincarnation du messager d’Allah, Muhammad psl.
                            Sa seule différence d’avec Muhammad était d’ordre physique, la couleur de peau, car ils avait
                            le même esprit « ruhu ». Il s’engagea contre le syncrétisme du paganisme avec l’Islam auquel
                            s’adonnait le peuple Lébou avec le culte des fétiches « rab » et leur pratique de guérison
                            « ndoep ». Sa doctrine de l’égalité des hommes et des femmes devant le droit divin, l’amenait
                            à autoriser les mariages des castes et autoriser les femmes à prendre place dans les mosquées,
                            à faire entendre leurs voix comme les hommes pendant les séances de chants religieux
                            « Sikars » ou zikr. Toutes ces choses étaient contre les traditions ancestrales et coutumières
                            même contre l’entendement des coreligionnaires musulmans. Trois années après son
                            prosélytisme, il fut dénoncé par ceux-ci aux colons français. Le 14 septembre 1887, il est
                            arrêté et interné sur l’île de Gorée pendant quelques mois avant le non-lieu qui fut prononcé
                            par le juge d’instruction en 1888. Mais bien avant son arrestation, il présenter son successeur
                            qui était son propre fils appelé Issa nom qu’il porta à la naissance, âgé de onze ans. Il était la
                            réincarnation du fils de Marie. En 1909, Seydina Limamou Lahi fut rappelé à Dieu et repose à
                            <br><br>
                            Diamalaye. Seydina Issa Rouhou Lahi alors âgé de 33 ans devint son successeur. En 1949,
                            après 40 ans à la tête de la communauté Ahlou Lahi, il fut rappelé à Dieu et repose à
                            Cambérène.
                            J’ai animé le blog sur internet intitulé « le message du Mahdi Limamou Lahi est-il vrai » et
                            écrit un article dans le journal Waa Soodaan, et plus tard des postes sur Facebook sur la page
                            Layene Familly.
                            J’ai donc pris le wird avec le Moukhadam Mbaye Basse par couriel en 2008. C’est en 2011 à
                            l’occasion du 131 e anniversaire de l’appel du Mahdi que Mbaye Basse me contacta pour
                            m’inviter à la cérémonie avec le Dahira des Sahabas de Seydina Limamou Lahi en Côte
                            d’Ivoire. Je me suis rendu à son siège à Marcory résidentiel. En 2013, je suis allé répondre à
                            l’appel du Mahdi à Yoff durant le 133 e anniversaire de l’appel du Mahdi. J’y demeurais
                            pendant trois mois du 08 juin au 07 septembre 2013 et dans la maison du Khalife Général des
                            Layènes, Abdoulaye Thiaw LAHI fils aîné de Seydina Issa Rouhou Lahi. Ce voyage m’a
                            permis de m&#39;imprégner davantage des pratiques cultuelles de la communauté Ahlou lahi.</p>
                    </div>
                </div>
            </div>
            <div class="col col-md-3">
                <div class="wpo-blog-sidebar">
                    <div class="widget profile-widget">
                        <div class="profile-img">
                            <img style="width: 100px;" src="{% static 'assets/images/auteur_blog.jpeg' %}" alt="">
                            <h2 style="font-size: 13px;">Bangaly CISSÉ</h2>
                            <p style="font-size: 13px;">Talibé layène de Côte d&#39;Ivoire</p>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
    <br>
    <div class="container">
        <h3 style="text-align: center; color: black;">Gallery AhlouLahi ABIDJAN   </h3>
        <br><br>
        <div class="row">
            <div class="col-md-4">
                <a href="{% static 'assets/images/IMG_5101.JPG' %}" data-lightbox="gallery">
                    <img style="border-radius: 10px;height: 390px;width: 420px" src="{% static 'assets/images/IMG_5101.JPG' %}" alt="Image 1">
                </a>
            </div>
            <div class="col-md-4">
                <a href="{% static 'assets/images/IMG_5036.JPG' %}" data-lightbox="gallery">
                    <img style="border-radius: 10px;height: 390px;width: 420px" src="{% static 'assets/images/IMG_5036.JPG' %}" alt="Image 2">
                </a>
            </div>
            <div class="col-md-4">
                <a href="{% static 'assets/images/IMG_4875.JPG' %}" data-lightbox="gallery">
                    <img style="border-radius: 10px;height: 390px;width: 420px" src="{% static 'assets/images/IMG_4875.JPG' %}" alt="Image 3">
                </a>
            </div>
        </div>
    </div>
    
    <script>
        lightbox.init();
    </script>
</div>


{% endblock %}