{% extends 'index.html' %}
 {% block content %} 
 {% load static %}


        <!-- start of hero -->
            <div class="wpo-breadcumb-area" style="background-image: url('{% static 'assets/images/slider_images/photo_2023-09-12_11-10-20.jpg' %}'); background-color: rgba(0, 0, 0, 0.5);">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="wpo-breadcumb-wrap">
                                <h2 style="color: white">Médiathèque</h2>
                                <ul>
                                    <li><a href="{% url 'home' %}" style="color: #098542">Acceuil</a></li>
                                    <li style="color: #098542"><span style="color: #098542">Médiathèque</span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <br>
            <div class="container">
                <h3 style="text-align: center; color: black;">Gallery AhlouLahi ABIDJAN</h3>
                <br>
                <div class="row">
                    <div class="col-md-4">
                        <a href="{% static 'assets/images/IMG_4549.JPG' %}" data-lightbox="gallery">
                            <img style="border-radius: 10px;height: 350px;width: 280px,paddind:5px;" src="{% static 'assets/images/IMG_4549.JPG' %}" alt="Image 1">
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a href="{% static 'assets/images/IMG_4433.JPG' %}" data-lightbox="gallery">
                            <img style="border-radius: 10px;height: 350px;width: 280px,paddind:5px;" src="{% static 'assets/images/IMG_4433.JPG' %}" alt="Image 2">
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a href="{% static 'assets/images/IMG_4565.JPG' %}" data-lightbox="gallery">
                            <img style="border-radius: 10px;height: 350px;width: 280px,paddind:5px;" src="{% static 'assets/images/IMG_4565.JPG' %}" alt="Image 3">
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a href="{% static 'assets/images/IMG_4447.JPG' %}" data-lightbox="gallery">
                            <img style="border-radius: 10px;height: 350px;width: 280px,paddind:5px;" src="{% static 'assets/images/IMG_4447.JPG' %}" alt="Image 1">
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a href="{% static 'assets/images/IMG_4626.JPG' %}" data-lightbox="gallery">
                            <img style="border-radius: 10px;height: 350px;width: 280px,paddind:5px;" src="{% static 'assets/images/IMG_4626.JPG' %}" alt="Image 2">
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a href="{% static 'assets/images/IMG_4753.JPG' %}" data-lightbox="gallery">
                            <img style="border-radius: 10px;height: 350px;width: 280px,paddind:5px;" src="{% static 'assets/images/IMG_4753.JPG' %}" alt="Image 3">
                        </a>
                    </div>
                    
                    <div class="col-md-4">
                        <a href="{% static 'assets/images/IMG_4758.JPG' %}" data-lightbox="gallery">
                            <img style="border-radius: 10px;height: 350px;width: 280px,paddind:5px;" src="{% static 'assets/images/IMG_4758.JPG' %}" alt="Image 3">
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a href="{% static 'assets/images/IMG_4495.JPG' %}" data-lightbox="gallery">
                            <img style="border-radius: 10px;height: 350px;width: 280px,paddind:5px;" src="{% static 'assets/images/IMG_4495.JPG' %}" alt="Image 3">
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a href="{% static 'assets/images/IMG_4569.JPG' %}" data-lightbox="gallery">
                            <img style="border-radius: 10px;height: 350px;width: 280px,paddind:5px;" src="{% static 'assets/images/IMG_4569.JPG' %}" alt="Image 3">
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a href="{% static 'assets/images/IMG_4587.JPG' %}" data-lightbox="gallery">
                            <img style="border-radius: 10px;height: 350px;width: 280px,paddind:5px;" src="{% static 'assets/images/IMG_4587.JPG' %}" alt="Image 3">
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a href="{% static 'assets/images/IMG_4808.JPG' %}" data-lightbox="gallery">
                            <img style="border-radius: 10px;height: 350px;width: 280px,paddind:5px;" src="{% static 'assets/images/IMG_4808.JPG' %}" alt="Image 3">
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a href="{% static 'assets/images/IMG_4593.JPG' %}" data-lightbox="gallery">
                            <img style="border-radius: 10px;height: 350px;width: 280px,paddind:5px;" src="{% static 'assets/images/IMG_4593.JPG' %}" alt="Image 3">
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a href="{% static 'assets/images/IMG_4863.JPG' %}" data-lightbox="gallery">
                            <img style="border-radius: 10px;height: 350px;width: 280px,paddind:5px;" src="{% static 'assets/images/IMG_4863.JPG' %}" alt="Image 3">
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a href="{% static 'assets/images/IMG_4865.JPG' %}" data-lightbox="gallery">
                            <img style="border-radius: 10px;height: 350px;width: 280px,paddind:5px;" src="{% static 'assets/images/IMG_4865.JPG' %}" alt="Image 3">
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a href="{% static 'assets/images/IMG_4874.JPG' %}" data-lightbox="gallery">
                            <img style="border-radius: 10px;height: 350px;width: 280px,paddind:5px;" src="{% static 'assets/images/IMG_4874.JPG' %}" alt="Image 3">
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a href="{% static 'assets/images/IMG_4875.JPG' %}" data-lightbox="gallery">
                            <img style="border-radius: 10px;height: 350px;width: 280px,paddind:5px;" src="{% static 'assets/images/IMG_4875.JPG' %}" alt="Image 3">
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a href="{% static 'assets/images/IMG_4872.JPG' %}" data-lightbox="gallery">
                            <img style="border-radius: 10px;height: 350px;width: 280px,paddind:5px;" src="{% static 'assets/images/IMG_4872.JPG' %}" alt="Image 3">
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a href="{% static 'assets/images/IMG_4937.JPG' %}" data-lightbox="gallery">
                            <img style="border-radius: 10px;height: 350px;width: 280px,paddind:5px;" src="{% static 'assets/images/IMG_4937.JPG' %}" alt="Image 3">
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a href="{% static 'assets/images/IMG_4976.JPG' %}" data-lightbox="gallery">
                            <img style="border-radius: 10px;height: 350px;width: 280px,paddind:5px;" src="{% static 'assets/images/IMG_4976.JPG' %}" alt="Image 3">
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a href="{% static 'assets/images/IMG_5060.JPG' %}" data-lightbox="gallery">
                            <img style="border-radius: 10px;height: 350px;width: 280px,paddind:5px;" src="{% static 'assets/images/IMG_5060.JPG' %}" alt="Image 3">
                        </a>
                    </div>
                    
                    <div class="col-md-4">
                        <a href="{% static 'assets/images/IMG_4704.JPG' %}" data-lightbox="gallery">
                            <img style="border-radius: 10px;height: 350px;width: 280px,paddind:5px;" src="{% static 'assets/images/IMG_4704.JPG' %}" alt="Image 3">
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a href="{% static 'assets/images/IMG_4701.JPG' %}" data-lightbox="gallery">
                            <img style="border-radius: 10px;height: 350px;width: 280px,paddind:5px;" src="{% static 'assets/images/IMG_4701.JPG' %}" alt="Image 3">
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a href="{% static 'assets/images/IMG_4805.JPG' %}" data-lightbox="gallery">
                            <img style="border-radius: 10px;height: 350px;width: 280px,paddind:5px;" src="{% static 'assets/images/IMG_4805.JPG' %}" alt="Image 3">
                        </a>
                    </div>

                    <div class="col-md-4">
                        <a href="{% static 'assets/images/IMG_5054.JPG' %}" data-lightbox="gallery">
                            <img style="border-radius: 10px;height: 350px;width: 280px,paddind:5px;" src="{% static 'assets/images/IMG_5054.JPG' %}" alt="Image 3">
                        </a>
                    </div>
                    
                    <div class="col-md-4">
                        <a href="{% static 'assets/images/IMG_4969.JPG' %}" data-lightbox="gallery">
                            <img style="border-radius: 10px;height: 350px;width: 280px,paddind:5px;" src="{% static 'assets/images/IMG_4969.JPG' %}" alt="Image 3">
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a href="{% static 'assets/images/IMG_4856.JPG' %}" data-lightbox="gallery">
                            <img style="border-radius: 10px;height: 350px;width: 280px,paddind:5px;" src="{% static 'assets/images/IMG_4856.JPG' %}" alt="Image 3">
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a href="{% static 'assets/images/IMG_4860.JPG' %}" data-lightbox="gallery">
                            <img style="border-radius: 10px;height: 350px;width: 280px,paddind:5px;" src="{% static 'assets/images/IMG_4860.JPG' %}" alt="Image 3">
                        </a>
                    </div>

                    
                    <div class="col-md-4">
                        <a href="{% static 'assets/images/IMG_4930.JPG' %}" data-lightbox="gallery">
                            <img style="border-radius: 10px;height: 350px;width: 280px,paddind:5px;" src="{% static 'assets/images/IMG_4930.JPG' %}" alt="Image 3">
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a href="{% static 'assets/images/IMG_4910.JPG' %}" data-lightbox="gallery">
                            <img style="border-radius: 10px;height: 350px;width: 280px,paddind:5px;" src="{% static 'assets/images/IMG_4910.JPG' %}" alt="Image 3">
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a href="{% static 'assets/images/IMG_5032.JPG' %}" data-lightbox="gallery">
                            <img style="border-radius: 10px;height: 350px;width: 280px,paddind:5px;" src="{% static 'assets/images/IMG_5032.JPG' %}" alt="Image 3">
                        </a>
                    </div>
                </div>
            </div>
            
            <script>
                lightbox.init();
            </script>

{% endblock %}